.button {
  display: flex;
  flex-direction: column;
  height: 40px;
  max-width: 150px;
  padding: 5px 20px;
  align-items: center;
  cursor: pointer;
  overflow-y: hidden;
}

.button__second {
  font-weight: 700;
}

.button__first, .button__second {
  transition: transform .15s linear;
  color: var(--lightest-slate);
}

.button:hover > .button__second{
  transform: translateY(-25px);
}

.button:hover > .button__first {
  transform: translateY(-30px);
}

.button__second {
  transform: translateY(10px);
}