.buttonSecundary {
  position: relative;
  width: 121.88px;
  height: 35px;
  font-weight: 600;
  color: var(--lightest-slate);
  background-color: rgba(0, 0, 0, 0.137);
  cursor: pointer;
  margin: 40px 0 10px 5px;
  transition: all .2s ease-in-out;
  border: 2px solid var(--lightest-slate);
  border-radius: 5px;
  overflow: hidden;
  
}

.buttonSecundary:hover {
  background-color: var(--lightest-slate);
  color: #000;
  animation-name: border;
  animation-duration: .3s;
  animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
  background-color: #3ecc8f;
}

.buttonSecundary::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 5px;
  background-color: transparent;
  transition: all .3s ease-in-out;
  border: 0px solid #3ecc8f;
  box-sizing: border-box;
}

/* .buttonSecundary:hover::before {
  width: 100%;
  height: 100%;

} */

@keyframes border {
  0% {
    border-bottom: 2px solid rgba(0, 0, 0, 0.514);
    border-right: 2px solid rgba(0, 0, 0, 0.514);
    border-top: 2px solid rgba(0, 0, 0, 0.514);
    border-left: 2px solid rgba(0, 0, 0, 0.514);
  }
  25%{
    border-bottom: 2px solid rgba(0, 0, 0, 0.514);;
  }
  50% {
    border-bottom: 2px solid rgba(0, 0, 0, 0.514);
    border-right: 2px solid rgba(0, 0, 0, 0.514);
  }
  75% {
    border-bottom: 2px solid rgba(0, 0, 0, 0.514);
    border-right: 2px solid rgba(0, 0, 0, 0.514);
    border-top: 2px solid rgba(0, 0, 0, 0.514);
  }
  100% {
    border-bottom: 2px solid rgba(0, 0, 0, 0.514);
    border-right: 2px solid rgba(0, 0, 0, 0.514);
    border-top: 2px solid rgba(0, 0, 0, 0.514);
    border-left: 2px solid rgba(0, 0, 0, 0.514);
  }
}