@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --background : rgb(221, 242, 235);
  --yale-blue : #184E77;
  --lapi-lazuli : #1E6091;
  --gc-blue : #1A759F;
  --blue-munsell : #168AAD;
  --viridian-green : #34A0A4;
  --keppel : #52B69A;
  --ocean-green : #76C893;
  --granny-smith-apple : #99D98C;
  --yellow-green : #B5E48C;
  --yellow-creen-crayola : #D9ED92;
  --pastel-green : #3ecc8f;
  /* fonts */
  --slate : #889bb0;
  --ligh-slate :  #a8bdd1;
  --lightest-slate : #d9e8f3;
  /* sizes */
  --size-title: clamp(25px, 8vw, 4.6rem);
  --size-paragraph: clamp(14px, 2vw, 18px);
}

h3::selection, p::selection, button::selection, span::selection, li::selection, img::selection {
  background-color: rgb(195, 240, 225);
  color: rgb(63, 185, 185);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--yale-blue);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}


.mainContainer {
  width: 100%;
  max-width: 2400px;
  min-height: 100vh;
}

section {
  padding: 0 150px;
}